@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?29922605');
  src: url('../font/fontello.eot?29922605#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?29922605') format('woff'),
       url('../font/fontello.ttf?29922605') format('truetype'),
       url('../font/fontello.svg?29922605#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?29922605#fontello') format('svg');
  }
}
*/
 
 [class^="fa-"]:before, [class*=" fa-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.fa-vk:before { content: '\e800'; } /* '' */
.fa-gift:before { content: '\e801'; } /* '' */
.fa-user:before { content: '\e802'; } /* '' */
.fa-home:before { content: '\e803'; } /* '' */
.fa-star:before { content: '\e804'; } /* '' */
.fa-archive:before { content: '\e805'; } /* '' */
.fa-wrench:before { content: '\e806'; } /* '' */
.fa-sign-out:before { content: '\e807'; } /* '' */
.fa-question-circle:before { content: '\e808'; } /* '' */
.fa-info-circle:before { content: '\e809'; } /* '' */
.fa-plus-circle:before { content: '\e80a'; } /* '' */
.fa-clock-o:before { content: '\e80b'; } /* '' */
.fa-check-square-o:before { content: '\e80c'; } /* '' */
.fa-google-plus:before { content: '\e80d'; } /* '' */
.fa-youtube:before { content: '\e80e'; } /* '' */
.fa-instagram:before { content: '\e80f'; } /* '' */
.fa-times:before { content: '\e810'; } /* '' */
.fa-location-arrow:before { content: '\e811'; } /* '' */
.fa-calendar:before { content: '\e812'; } /* '' */
.fa-envelope:before { content: '\e813'; } /* '' */
.fa-pencil:before { content: '\e814'; } /* '' */
.fa-phone:before { content: '\e815'; } /* '' */
.fa-paper-plane:before { content: '\e816'; } /* '' */
.fa-facebook:before { content: '\e817'; } /* '' */